{
	"compact": false,
	"presets": [
		["env", {
			"targets": {
				"browser": "last 2 versions",
				"node": "current"
			},
			"include": []
		}],
		"stage-0"
	],
	"plugins": [
		"transform-flow-strip-types"
	]
}